[package]
name = "moon_pdk_api"
version = "0.4.1"
edition = "2024"
license = "MIT"
description = "Core APIs for creating moon WASM plugins."
homepage = "https://moonrepo.dev/moon"
repository = "https://github.com/moonrepo/moon"
publish = true

[dependencies]
moon_common = { version = "0.2.0", path = "../common" }
moon_config = { version = "0.2.0", path = "../config" }
moon_project = { version = "0.2.0", path = "../project" }
moon_task = { version = "0.2.0", path = "../task" }
derive_setters = "0.1.7"
proto_pdk_api = { workspace = true }
rustc-hash = { workspace = true }
schematic = { workspace = true, features = ["schema_serde"] }
serde = { workspace = true }
serde_json = { workspace = true }
warpgate_api = { workspace = true }

[features]
default = []
schematic = ["warpgate_api/schematic"]

[lints]
workspace = true
