/target
node_modules/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build folders
coverage/
build/
cjs/
dts/
esm/
lib/
mjs/
umd/

# Artifacts
.eslintcache
*.map
*.min.js
*.tsbuildinfo

# Moon
.moon/cache
packages/*/moon
packages/*/moon.exe
/moon
/moon.exe

# Moon tests/fixtures
tests/fixtures/*/.moon/cache
