/target

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build folders
coverage/
build/
cjs/
dts/
esm/
lib/
mjs/
umd/

# Artifacts
.eslintcache
*.map
*.min.js
*.tsbuildinfo
