coverage/

# Build folders
.docusaurus/
coverage/
build/
dist/
cjs/
dts/
esm/
mjs/
node_modules/
umd/

# Node.js formats differently
*.json

# These are Tera templates
crates/config/templates/

# visualizer
apps/visualizer/*timestamp*
