coverage/

# Build folders
.docusaurus/
coverage/
build/
cjs/
dts/
esm/
lib/
mjs/
node_modules/
umd/
dist/

# Node.js formats differently
*.json

# These are Tera templates
crates/config/templates/

# visualizer
packages/visualizer/*timestamp*
