[workspace]
resolver = "2"
members = [
	"crates/*",
	"legacy/core/*",

	# Languages
	"legacy/bun/*",
	"legacy/deno/*",
	"legacy/javascript/*",
	"legacy/node/*",
	"legacy/rust/*",
	"legacy/system/*",
	"legacy/typescript/*",
]
exclude = ["tests/fixtures", "wasm/test-plugin"]
default-members = ["crates/cli"]

[workspace.dependencies]
async-recursion = "1.1.1"
async-trait = "0.1.83"
cached = "0.53.1"
chrono = { version = "0.4.38", features = ["serde"] }
cd_env = "0.2.0"
ci_env = "0.3.0"
clap = { version = "4.5.18", default-features = false, features = [
	"std",
	"error-context",
] }
clap_complete = "4.5.29"
compact_str = { version = "0.8.0", default-features = false, features = [
	"serde",
] }
console = "0.15.8"
dirs = "5.0.1"
indexmap = "2.5.0"
miette = "7.2.0"
once_cell = "1.20.1"
pathdiff = "0.2.1"
petgraph = { version = "0.6.5", default-features = false, features = [
	"serde-1",
] }
relative-path = { version = "1.9.3" }
regex = { version = "1.11.0", default-features = false, features = [
	"std",
	"perf",
] }
reqwest = { version = "0.12.8", default-features = false, features = [
	"rustls-tls-native-roots",
	# We don't use openssl but its required for musl builds
	"native-tls-vendored",
] }
rustc-hash = "2.0.0"
scc = "2.2.0"
schematic = { version = "0.17.4", default-features = false, features = [
	"schema",
] }
serial_test = "3.1.1"
semver = "1.0.23"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
serde_yaml = "0.9.34"
starbase = { version = "0.8.4" }
starbase_archive = { version = "0.8.6", default-features = false, features = [
	"miette",
	"tar-gz",
] }
starbase_events = "0.6.3"
starbase_sandbox = "0.7.4"
starbase_shell = "0.5.7"
starbase_styles = { version = "0.4.3", features = ["relative-path"] }
starbase_utils = { version = "0.8.9", default-features = false, features = [
	"editor-config",
	"miette",
] }
tera = { version = "1.20.0", features = ["preserve_order"] }
thiserror = "1.0.64"
tokio = { version = "1.40.0", default-features = false, features = [
	"macros",
	"process",
	"rt-multi-thread",
	"rt",
	"signal",
	"time",
	"tracing",
] }
tokio-util = "0.7.12"
tracing = "0.1.40"
uuid = { version = "1.10.0", features = ["v4"] }

# proto/plugin related
extism = "=1.6.0"
extism-pdk = "1.2.1"
proto_core = "0.41.4"
proto_installer = "0.7.0"
system_env = "0.6.0"
version_spec = "0.7.0"
warpgate = "0.18.0"
warpgate_api = "0.10.0"
warpgate_pdk = "0.8.0"

# proto_core = { path = "../proto/crates/core" }
# proto_installer = { path = "../proto/crates/installer" }
# system_env = { path = "../proto/crates/system-env" }
# version_spec = { path = "../proto/crates/version-spec" }
# warpgate = { path = "../proto/crates/warpgate" }
# warpgate_api = { path = "../proto/crates/warpgate-api" }
# warpgate_pdk = { path = "../proto/crates/warpgate-pdk" }

[workspace.lints.clippy]
# Very noisy, lots of false positives!
assigning_clones = "allow"

[workspace.metadata.cargo-shear]
ignored = ["serde"]
