[workspace]
resolver = "2"
members = [
	"crates/cli",
	"crates/core/*",

	# Languages
	"crates/bun/*",
	"crates/deno/*",
	"crates/go/*",
	"crates/node/*",
	"crates/php/*",
	"crates/python/*",
	"crates/ruby/*",
	"crates/rust/*",
	"crates/system/*",
	"crates/typescript/*",

	# Next-gen
	"nextgen/*"
]
default-members = ["crates/cli"]

[workspace.dependencies]
async-trait = "0.1.68"
cached = "0.43.0"
ci_env = "0.2.0"
clap = { version = "4.2.4", features = ["derive", "env", "wrap_help"] }
clap_complete = "4.2.1"
console = "0.15.5"
criterion = { version = "0.4.0", features = ["async_tokio"] }
miette = "5.7.0"
once_cell = "1.17.1"
petgraph = { version = "0.6.3", default-features = false, features = ["serde-1"] }
proto_cli = "0.7.2"
regex = "1.8.1"
# We don't use openssl but its required for musl builds
reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls", "native-tls-vendored"] }
rustc-hash = "1.1.0"
serde = { version = "1.0.160", features = ["derive"] }
serde_json = "1.0.96"
serde_yaml = "0.9.21"
starbase_styles = "0.1.5"
starbase_utils = { version = "0.2.7", default-features = false, features = ["editor-config", "glob", "json", "yaml"] }
strum = { version = "0.24.1", features = ["derive"] }
thiserror = "1.0.40"
tokio = { version = "1.27.0", default-features = false, features = ["tracing"] }
