[workspace]
resolver = "2"
members = [
	"crates/cli",
	"crates/core/*",

	# Languages
	"crates/bun/*",
	"crates/deno/*",
	"crates/go/*",
	"crates/node/*",
	"crates/php/*",
	"crates/python/*",
	"crates/ruby/*",
	"crates/rust/*",
	"crates/system/*",
	"crates/typescript/*",

	# Next-gen
	"nextgen/*",
]
exclude = ["tests/fixtures"]
default-members = ["crates/cli"]

[workspace.dependencies]
async-trait = "0.1.73"
cached = "0.45.1"
chrono = { version = "0.4.28", features = ["serde"] }
ci_env = "0.2.0"
clap = { version = "4.4.2", features = ["derive", "env", "wrap_help"] }
clap_complete = "4.4.0"
console = "0.15.7"
criterion = { version = "0.5.1", features = ["async_tokio"] }
miette = "5.10.0"
once_cell = "1.18.0"
once_map = "0.4.8"
pathdiff = "0.2.1"
petgraph = { version = "0.6.4", default-features = false, features = [
	"serde-1",
] }
proto_core = "0.17.3"
relative-path = { version = "1.9.0", features = ["serde"] }
regex = "1.9.5"
# We don't use openssl but its required for musl builds
reqwest = { version = "0.11.20", default-features = false, features = [
	"rustls-tls",
	"native-tls-vendored",
] }
rustc-hash = "1.1.0"
schematic = { version = "0.11.5", default-features = false, features = [
	"schema",
	"yaml",
	"type_warpgate",
] }
semver = "1.0.18"
serde = { version = "1.0.188", features = ["derive", "rc"] }
serde_json = "1.0.105"
serde_yaml = "0.9.25"
starbase = "0.2.6"
starbase_archive = { version = "0.2.2", default-features = false, features = [
	"tar-gz",
] }
starbase_events = { version = "0.2.1" }
starbase_sandbox = "0.1.10"
starbase_styles = { version = "0.1.15", features = ["relative-path"] }
starbase_utils = { version = "0.3.1", default-features = false, features = [
	"editor-config",
	"glob",
	"json",
	"toml",
	"yaml",
] }
tera = { version = "1.19.1", features = ["preserve_order"] }
thiserror = "1.0.48"
tokio = { version = "1.32.0", default-features = false, features = [
	"process",
	"rt",
	"rt-multi-thread",
	"tracing",
] }
tokio-util = "0.7.8"
tracing = "0.1.37"
url = "2.4.1"
uuid = { version = "1.4.1", features = ["v4"] }
