# https://axodotdev.github.io/cargo-dist/book/workspaces/cargo-release-guide.html

[workspace]
members = ["cargo:."]

[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = [
	"aarch64-apple-darwin",
	"aarch64-unknown-linux-gnu",
	"aarch64-unknown-linux-musl",
	"x86_64-unknown-linux-gnu",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
# A namespace to use when publishing this package to the npm registry
# npm-scope = "@moonrepo"
# Path that installers should place binaries in
install-path = ["$MOON_HOME/bin", "~/.moon/bin"]
# Which actions to run on pull requests
pr-run-mode = "upload"
# Skip checking whether the specified configuration files are up to date
allow-dirty = ["ci"]
# Custom job to publish the npm packages
# publish-jobs = ["./release-npm"]

[dist.github-custom-runners]
x86_64-unknown-linux-gnu = "depot-ubuntu-22.04-8"
x86_64-unknown-linux-musl = "depot-ubuntu-22.04-8"
aarch64-unknown-linux-gnu = "depot-ubuntu-22.04-arm-8"
aarch64-unknown-linux-musl = "depot-ubuntu-22.04-arm-8"
