# https://axodotdev.github.io/cargo-dist/book/workspaces/cargo-release-guide.html

[workspace]
members = ["cargo:."]

[dist]
cargo-dist-version = "0.30.2"
ci = "github"
pr-run-mode = "upload"
targets = [
	"aarch64-apple-darwin",
	"aarch64-unknown-linux-gnu",
	"aarch64-unknown-linux-musl",
	"x86_64-unknown-linux-gnu",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
installers = ["shell", "powershell"]
install-path = ["$MOON_HOME/bin", "~/.moon/bin"]
# install-success-msg = " "
allow-dirty = ["ci"]
# publish-jobs = ["./release-npm"]

[dist.github-custom-runners]
x86_64-unknown-linux-gnu = "depot-ubuntu-22.04-8"
x86_64-unknown-linux-musl = "depot-ubuntu-22.04-8"
aarch64-unknown-linux-gnu = "depot-ubuntu-22.04-arm-8"
aarch64-unknown-linux-musl = "depot-ubuntu-22.04-arm-8"
