# https://axodotdev.github.io/cargo-dist/book/workspaces/cargo-release-guide.html

[workspace]
members = ["cargo:."]

[dist]
cargo-dist-version = "0.30.3"
ci = "github"
targets = [
	"aarch64-apple-darwin",
	"aarch64-unknown-linux-gnu",
	"aarch64-unknown-linux-musl",
	"x86_64-unknown-linux-gnu",
	"x86_64-unknown-linux-musl",
	"x86_64-pc-windows-msvc",
]
installers = ["shell", "powershell"]
install-path = ["$MOON_HOME/bin", "~/.moon/bin"]
install-success-msg = "\nSuccessfully installed! Take your repo to the moon!\nNeed help? Join our Discord: https://discord.gg/qCh9MEynv2"
pr-run-mode = "upload"
publish-jobs = ["./release-npm"]
allow-dirty = ["ci"]

[dist.github-custom-runners]
x86_64-unknown-linux-gnu = "depot-ubuntu-22.04-8"
x86_64-unknown-linux-musl = "depot-ubuntu-22.04-8"
aarch64-unknown-linux-gnu = "depot-ubuntu-22.04-arm-8"
aarch64-unknown-linux-musl = "depot-ubuntu-22.04-arm-8"
