[package]
name = "moon_cli"
version = "1.3.1"
edition = "2021"

[[bin]]
name = "moon"
path = "src/main.rs"

[lib]
name = "moon_cli"
path = "src/lib.rs"
crate-type = ["rlib"]

[dependencies]
moon = { path = "../core/moon" }
moon_action_context = { path = "../core/action-context" }
moon_action_pipeline = { path = "../core/action-pipeline" }
moon_config = { path = "../core/config" }
moon_constants = { path = "../core/constants" }
moon_dep_graph = { path = "../core/dep-graph" }
moon_error = { path = "../core/error" }
moon_generator = { path = "../core/generator" }
moon_lang = { path = "../core/lang" }
moon_launchpad = { path = "../core/launchpad" }
moon_logger = { path = "../core/logger" }
moon_node_lang = { path = "../node/lang" }
moon_node_platform = { path = "../node/platform" }
moon_node_tool = { path = "../node/tool" }
moon_platform = { path = "../core/platform" }
moon_platform_detector = { path = "../core/platform-detector" }
moon_project = { path = "../core/project" }
moon_project_graph = { path = "../core/project-graph" }
moon_query = { path = "../core/query" }
moon_system_platform = { path = "../system/platform" }
moon_target = { path = "../../nextgen/target" }
moon_task = { path = "../core/task" }
moon_terminal = { path = "../core/terminal" }
moon_tool = { path = "../core/tool" }
moon_typescript_lang = { path = "../typescript/lang" }
moon_utils = { path = "../core/utils" }
moon_vcs = { path = "../core/vcs" }
moon_workspace = { path = "../core/workspace" }
bytes = "1.4.0"
ci_env = { workspace = true }
clap = { workspace = true }
clap_complete = { workspace = true }
clap_lex = "0.4.1"
console = { workspace = true }
# console-subscriber = "0.1.8"
dialoguer = { version = "0.10.4", default-features = false }
diff = "0.1.13"
indicatif = "0.17.3"
itertools = "0.10.5"
is-terminal = "0.4.5"
mimalloc = { version = "0.1.36", default-features = false }
open = "4.0.2"
petgraph = { workspace = true }
proto_cli = { workspace = true }
reqwest = { workspace = true }
rustc-hash = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
starbase_styles = { workspace = true }
starbase_utils = { workspace = true }
strum = { workspace = true }
tera = { version = "1.18.1", features = ["preserve_order"] }
tiny_http = "0.12.0"
tokio = { workspace = true }

[dev-dependencies]
moon_archive = { path = "../core/archive" }
moon_cache = { path = "../core/cache" }
moon_notifier = { path = "../core/notifier" }
moon_test_utils = { path = "../core/test-utils" }
httpmock = "0.6.7"
serial_test = "2.0.0"
