[package]
name = "moon_cli"
version = "0.9.1"
edition = "2021"

[[bin]]
name = "moon"
path = "src/main.rs"

[lib]
name = "moon_cli"
path = "src/lib.rs"
crate-type = ["rlib"]

[dependencies]
moon_action = { path = "../action" }
moon_action_runner = { path = "../action-runner" }
moon_config = { path = "../config" }
moon_constants = { path = "../constants" }
moon_error = { path = "../error" }
moon_lang = { path = "../lang" }
moon_lang_node = { path = "../lang-node" }
moon_logger = { path = "../logger" }
moon_platform_node = { path = "../platform-node" }
moon_project = { path = "../project" }
moon_task = { path = "../task" }
moon_terminal = { path = "../terminal" }
moon_toolchain = { path = "../toolchain" }
moon_utils = { path = "../utils" }
moon_vcs = { path = "../vcs" }
moon_workspace = { path = "../workspace" }
clap = { version = "3.2.14", features = ["derive", "env", "wrap_help"] }
console = "0.15.0"
dialoguer = "0.10.1"
indicatif = "0.16.2"
itertools = "0.10.3"
serde = { version = "1.0.140", features = ["derive"] }
serde_json = "1.0.82"
serde_yaml = "0.8.26"
strum = { version = "0.24.1", features = ["derive"] }
tera = { version = "1.16.0", features = ["preserve_order"] }
tokio = { version = "1.20.0", features = ["full"] }

[dev-dependencies]
moon_cache = { path = "../cache" }
assert_cmd = "2.0.4"
insta = "1.16.0"
predicates = "2.1.1"
serial_test = "0.8.0"
