[package]
name = "moon_cli"
version = "0.3.0"
edition = "2021"

[[bin]]
name = "moon"
path = "src/main.rs"

[lib]
name = "moon_cli"
path = "src/lib.rs"
crate-type = ["rlib"]

[dependencies]
moon_config = { path = "../config" }
moon_lang = { path = "../lang" }
moon_lang_node = { path = "../lang-node" }
moon_logger = { path = "../logger" }
moon_project = { path = "../project" }
moon_terminal = { path = "../terminal" }
moon_toolchain = { path = "../toolchain" }
moon_utils = { path = "../utils" }
moon_workspace = { path = "../workspace" }
clap = { version = "3.1.18", features = ["derive", "env", "wrap_help"] }
console = "0.15.0"
dialoguer = "0.10.1"
indicatif = "0.16.2"
itertools = "0.10.3"
strum = "0.24.0"
strum_macros = "0.24.0"
tera = { version = "1.15.0", features = ["preserve_order"] }
tokio = { version = "1.18.2", features = ["full"] }

[dev-dependencies]
moon_cache = { path = "../cache" }
assert_cmd = "2.0.4"
insta = "1.14.0"
predicates = "2.1.1"
serial_test = "0.6.0"
