[package]
name = "moon_cli"
version = "0.24.2"
edition = "2021"

[[bin]]
name = "moon"
path = "src/main.rs"

[lib]
name = "moon_cli"
path = "src/lib.rs"
crate-type = ["rlib"]

[dependencies]
moon = { path = "../core/moon" }
moon_action_context = { path = "../core/action-context" }
moon_action_pipeline = { path = "../core/action-pipeline" }
moon_config = { path = "../core/config" }
moon_constants = { path = "../core/constants" }
moon_dep_graph = { path = "../core/dep-graph" }
moon_error = { path = "../core/error" }
moon_generator = { path = "../core/generator" }
moon_lang = { path = "../core/lang" }
moon_launchpad = { path = "../core/launchpad" }
moon_logger = { path = "../core/logger" }
moon_node_lang = { path = "../node/lang" }
moon_node_platform = { path = "../node/platform" }
moon_node_tool = { path = "../node/tool" }
moon_pipeline_provider = { path = "../core/pipeline-provider" }
moon_platform = { path = "../core/platform" }
moon_platform_detector = { path = "../core/platform-detector" }
moon_project = { path = "../core/project" }
moon_project_graph = { path = "../core/project-graph" }
moon_system_platform = { path = "../system/platform" }
moon_target = { path = "../core/target" }
moon_task = { path = "../core/task" }
moon_terminal = { path = "../core/terminal" }
moon_tool = { path = "../core/tool" }
moon_typescript_lang = { path = "../typescript/lang" }
moon_utils = { path = "../core/utils" }
moon_vcs = { path = "../core/vcs" }
moon_workspace = { path = "../core/workspace" }
atty = "0.2.14"
bytes = "1.4.0"
clap = { workspace = true, features = ["derive", "env", "wrap_help"] }
clap_complete = { workspace = true }
clap_lex = "0.3.0"
console = { workspace = true }
# console-subscriber = "0.1.8"
dialoguer = "0.10.2"
futures-util = "0.3.26"
indicatif = "0.17.2"
itertools = "0.10.5"
lazy_static = { workspace = true }
mimalloc = { version = "0.1.34", default-features = false }
open = "3.2.0"
petgraph = { workspace = true }
proto_cli = { workspace = true }
reqwest = { workspace = true }
rustc-hash = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
strum = { version = "0.24.1", features = ["derive"] }
tera = { version = "1.17.1", features = ["preserve_order"] }
tiny_http = "0.12.0"
tokio = { workspace = true }
tokio-util = { version = "0.7.4", features = ["compat"] }

[dev-dependencies]
moon_archive = { path = "../core/archive" }
moon_cache = { path = "../core/cache" }
moon_notifier = { path = "../core/notifier" }
moon_test_utils = { path = "../core/test-utils" }
httpmock = "0.6.7"
serial_test = "1.0.0"
