---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Project graph">
	<main>
		<h1>Welcome to <span>Astro</span></h1>
		<script>
			console.log(`Hello from client`);
		</script>
	</main>
</Layout>
