<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Moon Visualizer</title>
		<script type="module" crossorigin src="{{ js_url }}"></script>
	</head>
	<body>
		<script>
			window.GRAPH_DATA = '{{ graph_data | safe  }}';
			window.PAGE_TITLE = '{{ page_title }}';
		</script>
		<div id="app"></div>
	</body>
</html>
