.label {
	font-weight: bold;
	font-size: 0.75rem;
	color: #fff;
	color: var(--ifm-font-color-base-inverse);
	background-color: var(--ifm-color-primary-darker);
	border-radius: var(--ifm-global-radius);
	display: inline-block;
	margin-left: 1rem;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 0.2rem 0.4rem;
}

.labelHeader {
	position: absolute;
	margin-left: 0;
	right: 0;
	top: 1rem;
}
