# Bump CI: 1

name: Moon
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/moon.yml
      - .moon/*.yml
      - crates/**
      - legacy/**
      - packages/**
      - website/**
      - package.json
      - yarn.lock
jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [18, 20]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
      - uses: moonrepo/setup-rust@v1
        with:
          cache: false # Temporary, CI running out of space
          cache-base: '^(master|develop-)'
      - run: cargo run -- --color --log trace ci --base ${{ github.base_ref || 'master' }}
        env:
          MOON_NODE_VERSION: ${{ matrix.node-version }}
          MOONBASE_SECRET_KEY: ${{ secrets.MOONBASE_SECRET_KEY }}
          MOONBASE_ACCESS_KEY: ${{ secrets.MOONBASE_ACCESS_KEY }}
      - uses: moonrepo/run-report-action@v1
        if: success() || failure()
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          matrix: ${{ toJSON(matrix) }}
