# Bump CI: 1

name: Moon
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/moon.yml
      - .moon/workspace.yml
      - .moon/tasks.yml
      - .moon/toolchain.yml
      - crates/**
      - packages/**
      - website/**
      - package.json
      - yarn.lock
jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [16, 18]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          cache: yarn
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.67.0
          profile: minimal
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: moon
      - uses: moonrepo/tool-version-action@v1
        with:
          node: ${{ matrix.node-version }}
      - uses: actions-rs/cargo@v1
        with:
          command: run
          args: -- --color --log trace ci --base ${{ github.base_ref || 'master' }}
        env:
          MOONBASE_SECRET_KEY: ${{ secrets.MOONBASE_SECRET_KEY }}
          MOONBASE_ACCESS_KEY: ${{ secrets.MOONBASE_ACCESS_KEY }}
      - uses: moonrepo/run-report-action@v1
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          matrix: ${{ toJSON(matrix) }}
