name: Release npm

on:
  workflow_call:
    inputs:
      plan:
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      PLAN: ${{ inputs.plan }}
    steps:
      - uses: actions/checkout@v4
      - name: Fetch artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: artifacts-*
          path: artifacts
          merge-multiple: true
      - name: Copy artifacts and release packages
        run: bash ./scripts/release/release.sh
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CHANNEL: latest
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
