name: Release npm

on:
  workflow_call:
    inputs:
      plan:
        required: true
        type: string

permissions:
  contents: read
  id-token: write # Required for OIDC

# https://docs.npmjs.com/trusted-publishers
# https://github.com/actions/setup-node/issues/1445
jobs:
  release:
    runs-on: ubuntu-latest
    env:
      PLAN: ${{ inputs.plan }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Fetch artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: artifacts-*
          path: artifacts
          merge-multiple: true
      - name: Copy artifacts and release packages
        run: unset NODE_AUTH_TOKEN && bash ./scripts/release/release.sh
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CHANNEL: latest
          # NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
