# Keep commands in sync with Makefile.toml! We don't use `cargo-make`
# in CI as it adds roughly 10 minutes to the overall time.

name: Rust
on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - .github/workflows/rust.yml
      - crates/**
      - tests/**
      - Cargo.lock
      - Cargo.toml
      - Makefile.toml
      - rust-toolchain.toml
env:
  # Windows fails to compile right now...
  WITH_COVERAGE: 'true'
jobs:
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        name: Cache cargo
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        name: Setup toolchain
        with:
          toolchain: 1.63.0
          profile: minimal
          components: rustfmt
      - uses: actions-rs/cargo@v1
        name: Check formatting
        with:
          command: fmt
          args: --all --check
  lint:
    name: Lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        name: Cache cargo
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        name: Setup toolchain
        with:
          toolchain: 1.63.0
          profile: minimal
          components: clippy
      - uses: actions-rs/cargo@v1
        name: Run linter
        with:
          command: clippy
          args: --workspace --all-targets
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    steps:
      - if: ${{ runner.os == 'Windows' }}
        run: Get-PSDrive
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        name: Cache cargo
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-
      - uses: actions-rs/toolchain@v1
        name: Setup toolchain
        with:
          toolchain: 1.63.0
          profile: minimal
          components: llvm-tools-preview
      - uses: actions-rs/cargo@v1
        if: ${{ env.WITH_COVERAGE == 'true' }}
        name: Install grcov
        with:
          command: install
          args: --force grcov
      - uses: actions-rs/cargo@v1
        if: ${{ env.WITH_COVERAGE == 'true' }}
        name: Build debug binary
        with:
          command: build
        env:
          RUSTFLAGS: -Cinstrument-coverage
      - uses: marcopolo/cargo@master
        name: Setup moon toolchain
        env:
          MOON_TEST: true
        with:
          command: run
          args: -- --log debug setup
          working-directory: ./tests/fixtures/cases
      - uses: actions-rs/cargo@v1
        if: ${{ env.WITH_COVERAGE == 'true' }}
        name: Run tests with coverage
        with:
          command: test
          args: --workspace
        env:
          RUSTFLAGS: -Cinstrument-coverage
          LLVM_PROFILE_FILE: ${{ github.workspace }}/moon-%p-%m.profraw
      - uses: actions-rs/cargo@v1
        if: ${{ env.WITH_COVERAGE == 'false' }}
        name: Run tests
        with:
          command: test
          args: --workspace
      - name: Generate code coverage
        if: ${{ env.WITH_COVERAGE == 'true' }}
        run: |
          grcov . -s ./crates --binary-path ./target/debug -t lcov --branch --ignore-not-existing -o ./report.txt
      - uses: actions/upload-artifact@v2
        if: ${{ env.WITH_COVERAGE == 'true' }}
        name: Upload coverage report
        with:
          name: coverage-${{ matrix.os }}
          path: ./report.txt
          if-no-files-found: error
  coverage:
    if: ${{ contains(github.head_ref, 'develop-') || endsWith(github.ref, 'master') }}
    name: Code coverage
    runs-on: ubuntu-latest
    needs:
      - test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v2
        name: Download coverage reports
        with:
          path: coverage
      - uses: codecov/codecov-action@v3
        name: Upload to Codecov
        with:
          files: ./coverage/coverage-ubuntu-latest/report.txt,./coverage/coverage-macos-latest/report.txt
          flags: rust
          verbose: true
